{# Global site tag (gtag.js) - Google Analytics #}
{%- set ga = config.THEME_SETTINGS.ua_google -%}
{% if ga -%}
<script>
const dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
if (dnt != "1" && dnt != "yes") {
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ga}}', 'auto');
    /*{# ga('set', 'anonymizeIp', true); #}*/
    ga('send', 'pageview');
}
</script>
{{this|add_script('https://www.google-analytics.com/analytics.js', async=True)}}
{%- endif %}
