<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<meta name="copyright" content="Ian Castleden, Plant Energy Biology"/>
<meta name="author" content="Ian Castleden"/>

<!-- General Search Engines -->
<meta name="description" content="Bee Health"/>
<link rel="canonical" href="{{config.PROJECT.url}}"/>

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Honey Bee Health"/>

<!-- Open Graph (Facebook) -->
<meta property='og:locale' content='en_US'/>
<meta property='og:title' content='Bee Health'/>
<meta property='og:description' content='Bee Health'/>
<meta property='og:url' content='{{config.PROJECT.url}}'/>
<meta property='og:site_name' content='Honey Bee Health Research'/>
<meta property='og:image' content="{{'/static/img/honeybeelogo.svg' | asseturl}}">