{% set bg = 'dark' if config.THEME_SETTINGS.is_dark_theme == 'true' else 'light' %}
<nav class="navbar navbar-default navbar-expand-lg sticky-top bg-{{bg}}">
    <a class="navbar-brand"  href="{{ '/'|url }}">
    <img src="{{'/static/img/bee.svg'|asseturl}}" style="height:1.2em"/>
    Bee Health</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar-collapse-1"  
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if this.path == '/' %} active{%endif%}">
          <a class="nav-link" href="{{ '/' |url }}">home</a>
        </li>
        {% for page in site.query('/') %}
          {% if page.path != '/404.html' %}
          <li class="nav-item{% if this.url_path == page.url_path %} active{%endif%}">
            <a class="nav-link" href="{{page | url }}">{{ page.path | trim('/') }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
</nav>
