
:root {
  --highlight-color: #ffaa00;
}

.markdown hr {
  clear: both;
}

body {
  font-family: Raleway!important;
}
body, button, input, select, textarea {
    font-size: 1.1em;
    line-height: 1.6em;
}

.text-shadow { text-shadow: 3px 3px 7px #efefef; }


nav.navbar .navbar-brand img {
   height:1.6em;
}

header {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 50vh;
  border-bottom: 1px var(--highlight-color) solid;
  position: relative;
}

header .logo {
  position: absolute;
  right: .5em;
  bottom: .5em;
  width: 6em;
  height: auto;
}


footer {
  border-top: 1px var(--highlight-color) solid;
}


.separator-heading h1,
.separator-heading h2,
.separator-heading h3,
.separator-heading h4,
.separator-heading h5,
.separator-heading h6 {
  display:flex;
  color: var(--highlight-color);
  flex-direction:row;
  justify-content:center;
  text-align:center;
  padding-bottom: .5em;
  margin-top: 1em;
}

.separator-heading h1:before,
.separator-heading h2:before,
.separator-heading h3:before,
.separator-heading h4:before,
.separator-heading h5:before,
.separator-heading h6:before,
.separator-heading h1:after,
.separator-heading h2:after,
.separator-heading h3:after,
.separator-heading h4:after,
.separator-heading h5:after,
.separator-heading h6:after {
	background-color: var(--highlight-color);
	content:'\a0';
	flex-grow:1;
	height:2px;
	position:relative;
	top:0.65em;
}


.parallax-window {
  height: 180px;
  background: transparent;
  background-attachment:fixed;
  /* position:relative; */
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow: hidden;
}

.parallax-window blockquote {
  color: gray;
  font-size:1.5em;
  background-color: rgba(230, 230, 230, .5);
}

@media (max-width:  576px) {
    .parallax-window {
        background-attachment: scroll;

    }
    .parallax-window blockquote {
        font-size: 1em !important;
        overflow-y: hidden;
    }
}

/* from https://github.com/GianlucaGuarini/jQuery.BlackAndWhite */
img.filter-bw {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    transition: 0.3s ease-in;
}

img.filter-bw:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

img.filter-xbw {
  filter: grayscale(0%);
  transition: 0.3s ease-in;
}

img.filter-xbw:hover {
  filter: grayscale(100%);
}

.vignette.card, .more-reading.card { border:none; }


.font-larger { font-size: larger; }
/* for use with icons.svg */
.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  top: -0.0625em;
  vertical-align: middle;
  width: 1em;
}


.markdown blockquote > p {
  border-left: solid gray 3px;
  padding-left: 2em;
  color: gray;
}


i.feature-circle, span.feature-circle {
  width: 2em;
  height: 2em;
  font-size: 3em;
  line-height: 2em;
  margin: .1em;
  vertical-align: middle;
  text-align: center;
  background:var(--highlight-color);
  color: #fff;
  border-radius: 50%;
}


.w-md-50 {
  width: 50% !important;
}
@media (max-width: 991px) {
  .w-md-50 { width:100% !important; }
}

/* when bootstrap flex-flow: column; */
.card-deck {
  align-items: center;
}
@media (min-width: 576px) {

  /* when bootstrap flex-flow: row wrap; */
  .card-deck {
     align-items:stretch;
  }

}
