

{%- macro carousel_page( page , height=480) -%}
{%- set slides = page.attachments.images.filter(F._id.isin(page.slideshow)).all() -%}
{# set slides = page.attachments.images|selectattr("description", "in", page.slideshow) #}
{{carousel(slides, height=height)}}
{%- endmacro -%}

{%- macro carousel(images, height=480) -%}
{%- set id = get_random_id() -%}
{%- set is_dark_theme = config.THEME_SETTINGS.is_dark_theme == 'true' -%}
{%- set bg = 'dark' if is_dark_theme else 'light' -%}
<div id="id-{{id}}" class="carousel slide bg-{{bg}} carousel-fade" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    {% for img in images -%}
    <li data-bs-target="#id-{{id}}" data-bs-slide-to="{{loop.index0}}" class="{{ 'active' if loop.index0 == 0 else ''}}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for img in images -%}
    <div class="carousel-item {{ 'active' if loop.index0 == 0 else ''}}">
      <img class="d-block mx-auto" style="height:{{height}}px;"
      src="{{img.thumbnail(height=height) | url}}" alt="slide-{{loop.index}}">
      <div class="carousel-caption d-none d-md-block text-{% if img.dark %}light{% else %}dark{% endif %}">
        
        <p>{{ img.description | truncate(30) }}</p>
      </div>
    </div>
    {% endfor -%}
  </div>
  <a class="carousel-control-prev" href="#id-{{id}}"
      role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#id-{{id}}"
      role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
{%- endmacro -%}