{% macro news_item(this, imgsize=100, full=False) %}
{%- set w = 100 if full else 25 -%}
<div class="card border-0 mb-2" style="min-width:{{w - 4}}%;width:{{w}}%;max-width:{{w}}%">
  
  <a href="{{this|url}}" class="mx-auto">
  {% set i = this.attachments.images.first() %}
    {% if i %}
    <img class="card-img-top filter-xbw"
        src="{{i.thumbnail(height=imgsize,width=imgsize, mode='crop')|url}}"
        alt="{{i.description}}"> 
    {% endif %}
  </a>
  <div class="card-body">
    <h4 class="card-title">{{this.title}}</h4>
    <p class="card-text">
    Published on: {{this.date}}
    Tags: {{this.tags|join(', ')}}
    {% if full %}
    <div class="markdown">{{ this.body }}</div>
    {% endif %}
    </p>
  </div>


  <footer>Follow me on:
    <a href="/Twitter" title="Twitter"><span class="fab fa-twitter"></span></a>
    <a href="/Facebook" title="Facebook"><span class="fab fa-facebook"></span></a>
  </footer>
</div>
{% endmacro %}
