{%- macro wrap_link(this, full, cls="") -%}
  {% if not full %}
  <a href="{{this|url}}" class="{{cls}}">
  {{ caller() }}
  </a>
  {%- else -%}
    {{caller()}}
  {%- endif -%}
{%- endmacro -%}

{% macro news_item(this, imgsize=100, full=False) %}
{%- from "macros/logos.html" import logos -%}
{%- set w = 100 if full else 25 -%}
{%- set author = site.get(this.author) -%}
{%- set i = this.attachments.images.first() -%}
<div class="card border-0 mb-2" style="min-width:{{w - 4}}%;width:{{w}}%;max-width:{{w}}%">
  
    {% if i %}
    {% call wrap_link(this, full, "mx-auto") %}
    <img class="card-img-top filter-xbw border-info shadow img-thumbnail"
        {% if full -%}
        src="{{i.thumbnail(height=imgsize)|url}}"
        {%- else -%}
        src="{{i.thumbnail(height=imgsize,width=imgsize, mode='crop')|url}}"
        {%- endif %}
        alt="{{i.description}}"> 
    {% endcall %}
    {% endif %}

  <div class="card-body">
    <h4 class="card-title">{% call wrap_link(this, full) %}{{this.title}}{% endcall %}</h4>
    <p class="card-text">
    Published on: {{this.date}}{% if author %} by <a href="{{author|url}}">{{author.name}}</a>{% endif %}.
    Tags: {{this.tags|join(', ')}}
    {% if full %}
    <div class="markdown">{{ this.body }}</div>
    {% endif %}
    </p>
  </div>


  <footer>
    {{logos(author, "Follow me on:")}}
  </footer>
</div>
{% endmacro %}
