{% macro researcher(person,imgsize=100, full=False) %}
{%- from "macros/logos.html" import logos -%}
<div class="card border-0 mb-5" style="min-width:{{imgsize}}px">
  <a href="{{person|url}}" style="margin:0 auto;">
  {% set i = person.attachments.images.first() %}
  <img class="card-img-top rounded-circle filter-xbw" style="height:{{imgsize}}px;width:{{imgsize}}px"
    {% if i -%}
        src="{{i.thumbnail(height=imgsize,width=imgsize, mode='crop')|url}}"
        alt="{{i.description}}"
    {%- else -%}
        src="{{'/static/img/Person.png' | asseturl}}"
        alt="{{ person.name }}"
    {%- endif -%}
  />
  </a>
  <div class="card-body">
    <h4 class="card-title">{{person.title}} {{person.name}}</h4>
    <p class="card-text">
    {%- if full -%}
    <div class="markdown">{{ person.body }}</div>
    {%- else -%}
    <div class="markdown">{{ person.body_short }}</div>
    {%- endif -%}
    </p>
  </div>
  {%- set handles = person.twitter or person.instagram -%}

  {%- if handles -%}<footer>{{logos(person, "Follow me on:")}}</footer>{%- endif -%}
</div>
{% endmacro %}
