{#-

{{omap w-75 mx-auto shadow rounded border border-info lon=115.8184 lat=-31.98161 zoom=17 height=400  opacity=.8
body="We are here in the Baylis building over here and here yas!" header="Us!"}} 

-#}
{%- set i = get_random_id() -%}
{% if header or body %}
<div class="popover show bs-popover-top text-center shadow" role="tooltip" 
    style="width:10em; transform:translate(-50%, -100%); background-color:rgba(255,255,255,{{opacity|default('0.7')}})" id="overlay-{{i}}"> 
    <div class="arrow" style="left: 4em;"></div>
    <h3 class="popover-header">{{header or ''}}</h3>
    <div class="popover-body pb-0">{{body or ''}}<br/><i class="fas fa-map-marker-alt"></i></div>
</div>
{% endif %}
<div id="map-{{i}}" style="height:{{height}}px" class="omap {{args|join(' ')}}"></div>
{{this | add_script('https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js')}}
{{this | add_script("https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css", css=True)}}
{{this | add_script('shortcodes/omap.js', template=True) }}
{{this | add_script("API.omap_layout(%s)" % kwargs|mergedict(mapid=i, body='', header='')|tojson, embed=True) }}
