{%- from "macros/vignettes.html" import vignettes -%}
{%- from "macros/carousel.html" import carousel_page -%}
{%- from "macros/parallax.html" import parallax -%}
{% if this.path %}
  {%- set s = site.get(this.path) -%}
  {% if s %}
    {%- set model = s._model -%}
    {%- if model == 'parallax' -%}
      {{ parallax(s) }}
    {%- elif model == 'vignettes' -%}
      <div class="container">{{ vignettes(s) }}</div>
    {%- elif model == 'carousel' -%}
      <div class="container">{{ carousel_page(s) }}</div>
    {%- endif -%}
  {% endif %}
{% endif %}