{% extends "layout.html" %}
{%- from "macros/vignettes.html" import vignettes -%}
{%- from "macros/carousel.html" import carousel_page -%}
{%- from "macros/show-item.html" import show_item -%}
{%- from "macros/parallax.html" import parallax -%}
{% block body %}
<div class="container">
  <div class="separator-heading">
    <h2>{{this.title}}</h2>
  </div>
  <div class="markdown">
   {{this.body}}
  </div>
</div>
<div class="container">
{% for i in this.attachments.images %}
  <img src="{{i|url}}" style="width:200px"/>
{% endfor %}
<h1>this.children</h1>
{% for v in this.children %}
    {{ show_item(v) }}
    <br/>
{% endfor %}
<h1>site.query('/')</h1>
{% for v in site.query('/') %}
    {{ show_item(v) }}
    <br/>
{% endfor %}
<h1>site.query('/vignettes')</h1>
{% for v in site.query('/vignettes') %}
    {{ show_item(v) }}
    <br/>
{% endfor %}
<hr>
</div>
{{ parallax(site.get('/extras/parallax-1'))}}
<div class="container">
<hr>
{{ vignettes(site.get('/extras/vignettes'))}}
<hr>
{{ carousel_page(site.get('/extras/highlights'))}}
</div>
{% endblock %}
