{% extends "layout.html" %}
{%- from "macros/news-item.html" import full_news_item -%}
{% block body %}
<div class="container">

  <h2 class="hl">{{this.title}}</h2>
 
  <div class="markdown">
   {{this.body}}
  </div>
</div>
{% set frontpage = site.get('/news').children.filter(F.tags.contains('frontpage')).first() %}
{% if frontpage %}
<div class="container w-75">
    <h2 class="hl">Current Highlight</h2>
    {{ full_news_item(frontpage, imgsize=600) }}
</div>
{% endif %}
{% if this.fragments %}
{% for blk in this.fragments.blocks %}
  {{blk}}
  <div class="container"><hr/></div>
{% endfor %}
{% endif %}

{% endblock %}
