{% extends "layout.html" %}
{% from "macros/news-item.html" import news_item, full_news_item %}
{% from "macros/pagination.html" import render_pagination %}

{% block body %}
<div class="container">

  <h2 class="hl">{{this.title}}</h2>

  <div class="markdown">
   {{this.body}}
  </div>
  {% set frontpage = this.children.filter(F.tags.contains('frontpage')).first() %}
  {% if frontpage %}
    <div class="w-75 mx-auto">
      {{ full_news_item(frontpage, imgsize=400) }}
    </div>
  {% endif %}
  <hr/>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
  <div class="row row-cols-4 pt-5 align-items-stretch justify-content-around">
      {% for p in this.pagination.items %}
        {{ news_item(p, imgsize=200) }}
      {% endfor %}
  </div>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}

</div>
{% endblock %}
