{% extends "layout.html" %}
{% from "macros/researcher.html" import researcher %}
{% block body %}
<div class="container">
  <div class="separator-heading">
    <h2>{{this.title}}</h2>
  </div>
  <div class="markdown">
   {{this.body}}
  </div>
  <div class="separator-heading">
    <h2>Our World Class Researchers</h2>
  </div>
  <div class="card-deck pt-5 justify-content-around">
      {% for p in this.children %}
        {{ researcher(p|readmore(split='---', link="See Full Bio: btn btn-outline-primary"), imgsize=200) }}
      {% endfor %}
  </div>
</div>
{% endblock %}
