{% extends "layout.html" %}
{% from "macros/publication.html" import publication %}
{% block body %}
  <div class="container">
    <h2 class="hl">{{this.title}}</h2>
    
    <div class="markdown">{{ this.body }}</div>
    
    <hr/>

    {% for pub in this.children.filter(F.date.false()) %}
      <div class="publication">
      {{publication(pub)}}
      </div>
      <hr/>
    {% endfor %}
    {% for pub in this.children.filter(F.date.true()) %}
      <div class="publication">
      {{publication(pub)}}
      </div>
      <hr/>
    {% endfor %}
  </div>

{% endblock body %}
