{% extends "layout.html" %}
{% block title %}Sitemap{% endblock %}
{% block body %}
<div class="container mt-3">
  <div class="separator-heading">
    <h2>Site Map</h2>
  </div>
<ul class="sitemap">
  {% for page in [site.root] if page.record_label recursive %}
  {% if not page._model == 'publication' %}
    <li><a href="{{ page|url(absolute=True) }}">{{ page.record_label }}</a>
      {% if page.children %}
        <ul>{{ loop(page.children|sort(attribute='path')) }}</ul>
      {% endif %}
    </li>
  {% endif %}
  {% endfor %}
</ul>
</div>
{% endblock %}